@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dq65rf');
  src:  url('fonts/icomoon.eot?dq65rf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dq65rf') format('truetype'),
    url('fonts/icomoon.woff?dq65rf') format('woff'),
    url('fonts/icomoon.svg?dq65rf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e904";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-bar-chart:before {
  content: "\e900";
}
.icon-bar-chart-o:before {
  content: "\e900";
}
.icon-bug:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e902";
}
