<div class="container">
    <section class="row">
        <article class="col-12 text-center">
            <h1>Search on GitHub!</h1>
            <p>
                Type on the text field to get results
            </p>
        </article>
        <form action="#" class="col-12" ng-submit="search($event)">
            <div class="form-group row">
                <div class="col-12 col-md-10">
                    <input type="text" class="form-control" ng-model="repoName" required>
                    <div class="input-decor"></div>
                </div>
                <div class="col-12 col-md-2">
                    <button type="submit" class="btn-primary w-100" title="Search"><span class="icon-search"></span></button>
                    <div class="input-decor"></div>
                </div>
            </div>
        </form>
    </section>

    <div ng-show="loading">
        <span class="loader icon-github"></span>
    </div>

    <div class="col-12" ng-show="noResults">
        <h3 class="text-center">
            No results for {{repoName}} :( <br>
            Please search again <span class="icon-arrow-up"></span>
        </h3>
    </div>

    <section class="results row" ng-if="data.items">
        <div class="col-12 results__heading">
            <div class="row">
                <div class="col-12 col-md-6 results__word">
                    <p>
                        Results for: <strong>{{repoName}}</strong>
                    </p>
                </div>
                <div class="col-12 col-md-6 text-right results__total">
                    <p>
                        Total: <strong>{{data.total_count}}</strong>
                    </p>
                </div>
            </div>
        </div>
        <article class="item text-center col-12 col-lg-6" ng-repeat="item in data.items">
            <div class="item__inner">
                <h3 class="item__title">{{item.name}}</h3>

                <div class="item__details row w-100">
                    <div class="col-12 item__owner">
                        <a href="{{item.owner.html_url}}" class="d-block" target="_blank">
                            <img ng-src="{{item.owner.avatar_url}}" alt="{{item.owner.login}}">
                        </a>
                        <h4 class="d-block no-margin">
                            {{item.owner.login}}
                        </h4>
                    </div>
                    <div class="col-12" ng-if="item.description">
                        <h5>Description</h5>
                        <p class="decor-underline">
                            {{item.description}}
                        </p>
                    </div>

                    <div class="col-12 col-md-6" ng-if="item.forks">
                        <h5>Forks</h5>
                        <p>
                            {{item.forks_count}}
                        </p>
                    </div>

                    <div class="col-12 col-md-6" ng-if="item.stargazers_count">
                        <h5>Stargazers</h5>
                        <p>
                            {{item.stargazers_count}}
                        </p>
                    </div>

                    <div class="col-12 col-md-6" ng-if="item.open_issues">
                        <h5>Open issues</h5>
                        <p>
                            {{item.open_issues_count}}
                        </p>
                    </div>

                    <div class="col-12 col-md-6" ng-if="item.language">
                        <h5>Language</h5>
                        <p>
                            {{item.language}}
                        </p>
                    </div>
                </div>

                <div class="item__footer row w-100">
                    <div class="col-12 col-md-6" ng-if="item.html_url">
                        <button class="icon-button">
                            <a href="{{item.html_url}}" target="_blank" title="View repository on GitHub">
                                <span class="icon-github"></span>
                            </a>
                        </button>
                    </div>

                    <div class="col-12 col-md-6" ng-if="item.has_issues">
                        <button class="icon-button" ng-class="(!item.hide_issues) ? 'active' : ''" ng-click="moreDetails(item)" >
                            <span class="icon-bug"></span>
                        </button>
                    </div>
                </div>

                <article class="item__issues w-100" ng-if="(item.issues && !item.hide_issues)">
                    <h3 class="decor-underline decor-underline--light">{{item.name}} Issues</h3>
                    <a ng-repeat="issue in item.issues" href="{{issue.html_url}}" title="{{issue.html_url}}" class="d-block" target="_blank">{{issue.html_url}}</a>
                </article>
            </div>
        </article>
    </section>
</div>