/////***** FORMS *****/////

.form-control {
  @include default-transition;
  position: relative;
  width: 100%;
  display: inline-block;
  -webkit-appearance: none;
  outline: none;
  line-height: $form-control-height;
  height: $form-control-height;
  padding: 0 20px;
  font-family: $default-font-family;
  color: white;
  border: 0;
  border-bottom: 2px solid map-get($colors, white);
  background-color: $brand-primary;

  + .input-decor {
    @include default-transition;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 15px;
    background-color: map-get($colors, gray);
    width: 0;
  }

  &:focus {
    background-color: $brand-primary - 20;

    + .input-decor {
      width: calc(100% - 30px);
    }
  }
}

.btn-primary {
  @include default-transition;
  outline: none;
  border: 0;
  border-bottom: 2px solid map-get($colors, white);
  line-height: 1;
  height: $form-control-height;
  background-color: $brand-primary;
  position: relative;

  + .input-decor {
    @include default-transition;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 15px;
    background-color: map-get($colors, gray);
    width: 0;
  }

  // desktop
  @include media-breakpoint-up(xl) {
    &:hover {
      background-color: $brand-primary - 20;

      + .input-decor {
        width: calc(100% - 30px);
      }
    }
  }
}

.icon-button {
  border: none;
  outline: none;
  background-color: $brand-primary;
  cursor: pointer;
  width: 100%;

  a, & {
    text-decoration: none;
  }

  span {
    @include default-transition;
    font-size: 40px;
    border: 2px solid white;
    padding: 6px 0;
    display: block;
  }

  &.active,
  &:hover {
    span {
      color: $brand-primary;
      border-color: $brand-primary;
      background-color: map-get($colors, white);
    }
  }
}

.form-group {
  .col-12 {
    margin-bottom: 15px;
  }
}