/////***** TYPOGRAPHY *****/////

h1,
.h1 {
  font-size: $h1-font-size;
  margin: 0 0 $default-text-margin-bottom 0;

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: calc(#{$h1-font-size} - 50%);
    margin: 0 0 $default-text-margin-bottom 0;
  }
}

h2,
.h2 {
  font-size: $h2-font-size;
  margin: 0 0 $default-text-margin-bottom 0;

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: calc(#{$h2-font-size} - 20%);
    margin: 0 0 calc(#{$default-text-margin-bottom} - 8px) 0;
  }
}

h3,
.h3 {
  font-size: $h3-font-size;
  margin: 0 0 $default-text-margin-bottom 0;

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: calc(#{$h3-font-size} - 15%);
    margin: 0 0 calc(#{$default-text-margin-bottom} - 8px) 0;
  }
}

h4,
.h4 {
  font-size: $h4-font-size;
  margin: 0 0 $default-text-margin-bottom 0;

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: calc(#{$h4-font-size} - 10%);
    margin: 0 0 calc(#{$default-text-margin-bottom} - 8px) 0;
  }
}

h5,
.h5 {
  font-size: $h5-font-size;
  margin: 0 0 $default-text-margin-bottom 0;

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: calc(#{$h5-font-size} - 10%);
    margin: 0 0 calc(#{$default-text-margin-bottom} - 8px) 0;
  }
}

h6,
.h6 {
  font-size: $h6-font-size;
  margin: 0 0 $default-text-margin-bottom 0;

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: calc(#{$h6-font-size} - 10%);
    margin: 0 0 calc(#{$default-text-margin-bottom} - 8px) 0;
  }
}

p,
.p {
  font-size: $default-font-size;
  margin: 0 0 $default-text-margin-bottom 0;

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: calc(#{$default-font-size} - 10%);
    margin: 0 0 calc(#{$default-text-margin-bottom} - 8px) 0;
  }
}

a {
  color: inherit;
  text-decoration: underline;

  // desktop
  @include media-breakpoint-up(xl) {
    @include default-transition;

    &:hover {
      opacity: .8;
    }
  }
}

small {
  font-size: 70%;
}

.decor-underline {
  position: relative;
  width: 100%;
  padding-bottom: 10px;

  &:before {
    content: '';
    color: inherit;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: map-get($colors, gray);
  }

  &--light {

    &:before {
      background-color: map-get($colors, white);
    }
  }
}