/////***** VARIABLES *****/////

// Colors //
$colors: (
  white:      #ffffff,
  light-gray: #6A6A6A,
  gray:       #333333,
  green:      #69be28
);

$text-color:        map-get($colors, white);
$brand-primary:     map-get($colors, green);
$brand-secondary:   map-get($colors, light-gray);


// Texts //
$default-line-height:         1.2;
$default-font-family:         'Open Sans', 'sans-serif';
$default-text-margin-bottom:  25px;
$default-font-size:           15px;

$h1-font-size:                50px;
$h2-font-size:                35px;
$h3-font-size:                28px;
$h4-font-size:                24px;
$h5-font-size:                18px;
$h6-font-size:                $default-font-size;

// Layout //

  // header
  $header-height: (
          desktop:      55px,
          tablet:       55px,
          mobile:       55px
  );

  // footer
  $footer-height: (
          desktop:      55px,
          tablet:       55px,
          mobile:       55px
  );


// Forms //
$form-control-height: 45px;

// Animations //
@keyframes pulse {
  0% {transform: scale(1)}
  50% {transform: scale(1.2)}
  100% {transform: scale(1)}
}

@mixin css3-transition($what: all, $length: 1s, $easing: ease-in-out) {
  -webkit-transition: $what $length $easing;
  -khtml-transition: $what $length $easing;
  -moz-transition: $what $length $easing;
  -ms-transition: $what $length $easing;
  -o-transition: $what $length $easing;
  transition: $what $length $easing;
}

@mixin default-transition() { @include css3-transition(all, 0.45s, ease); }