<footer class="footer">
    <p class="text-center no-margin">
        Balázs András <br>
        View this project on <a href="https://gitlab.com/slimtiexxx/hortonworks" target="_blank">GitLab</a>
    </p>
</footer>