/////***** FOOTER *****/////

.footer {
  min-height: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $brand-primary;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.28);
  display: flex;
  align-items: center;
  justify-content: center;

  // desktop
  @include media-breakpoint-up(xl) {
    min-height: map-get($footer-height, desktop);
  }

  // tablet
  @include media-breakpoint-between(md, lg) {
    min-height: map-get($footer-height, tablet);
  }

  // mobile
  @include media-breakpoint-down(sm) {
    min-height: map-get($footer-height, mobile);
  }
}