/////***** HEADER *****/////

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: $brand-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.28);

  // desktop
  @include media-breakpoint-up(xl) {
    min-height: map-get($header-height, desktop);
  }

  // tablet
  @include media-breakpoint-between(md, lg) {
    min-height: map-get($header-height, tablet);
  }

  // mobile
  @include media-breakpoint-down(sm) {
    min-height: map-get($header-height, mobile);
  }

  &__logo {
    background-color: map-get($colors, white);
    border-radius: 100%;
    max-width: 115px;
    position: absolute;
    top: 12px;
    padding: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.28);

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    // desktop
    @include media-breakpoint-up(xl) {
      @include default-transition;

      &:hover {
        transform: translateY(10px);
        opacity: 1;
      }
    }

    // mobile
    @include media-breakpoint-down(sm) {
      max-width: 75px;
      top: 10px;
      padding: 8px;
    }
  }
}