/////***** RESULTS *****/////

.results {
  margin-top: 40px;

  // mobile
  @include media-breakpoint-down(sm) {
    margin-top: 20px;
  }

  /* Display word */
  &__word {
    p {
      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }
  }

  /* Total results */
  &__total {
    text-align: right;

    p {
      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }
  }

  .item {
    padding-bottom: 30px;

    /* Item Wrapper */
    &__inner {
      height: 100%;
      padding: 15px;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      background-color: $brand-primary;
      box-shadow: inset 0 0 0 2px map-get($colors, white);

      h5 {
        margin-bottom: 15px;
      }

      > div {
        position: relative;
        z-index: 2;
      }

      // desktop
      @include media-breakpoint-up(xl) {

        &::before,
        &::after {
          box-sizing: inherit;
          content: '';
          position: absolute;
          border: 2px solid transparent;
          width: 0;
          height: 0;
        }

        &::before {
          top: 0;
          left: 0;
        }

        &::after {
          bottom: 0;
          right: 0;
        }

        &:hover {
          &::before,
          &::after {
            width: 100%;
            height: 100%;
          }

          &::before {
            border-top-color: map-get($colors, gray);
            border-right-color: map-get($colors, gray);
            transition:
                    width 0.25s ease-out,
                    height 0.25s ease-out 0.25s;
          }

          &::after {
            border-bottom-color: map-get($colors, gray);
            border-left-color: map-get($colors, gray);
            transition:
                    border-color 0s ease-out 0.5s,
                    width 0.25s ease-out 0.5s,
                    height 0.25s ease-out 0.75s;
          }
        }
      }
    }


    /* Item Title */
    &__title {
      @extend .decor-underline;
      @extend .decor-underline--light;
    }

    /* Item Owner */
    &__owner {
      img {
        background-color: map-get($colors, white);
        border: 2px solid map-get($colors, gray);
        width: 60px;
        height: 60px;
        display: block;
        border-radius: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    /* Item Details */
    &__details {
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      h5 {
        color: map-get($colors, gray);
        margin-bottom: 8px;
        @extend .decor-underline;
      }

      > div {
        margin-bottom: 20px;
      }
    }

    /* Item Issues */
    &__issues {
      padding-top: 20px;
    }

    /* Item Footer */
    &__footer {
      .icon-button {

        margin-bottom: 25px;
      }
    }
  }
}