/////***** LOADERS *****/////

.loader {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: $brand-primary;
  font-size: 90px;
  animation: pulse .8s infinite;
}