/////***** MAIN *****/////

body {
  font-family: 'Open Sans', 'sans-serif';
  color: $text-color;
  line-height: $default-line-height;
  font-size: $default-font-size;
}

.main {
  position: relative;
  min-height: 100vh;
  background-color: $brand-secondary;

  // desktop
  @include media-breakpoint-up(xl) {
    padding-top: calc(#{map-get($header-height, desktop)} + 100px);
    padding-bottom: map-get($footer-height, desktop);
  }

  // tablet
  @include media-breakpoint-between(md, lg) {
    padding-top: calc(#{map-get($header-height, desktop)} + 100px);
    padding-bottom: map-get($footer-height, tablet);
  }

  // mobile
  @include media-breakpoint-down(sm) {
    padding-top: calc(#{map-get($header-height, mobile)} + 50px);
    padding-bottom: map-get($footer-height, mobile);
  }
}